@import '_variables';
@import '_wrapper';
@import '_mixins';

$ContentWidth: var(--content-width) !default;

.page {
  padding-bottom: 2rem;
  display: block;
}

.vuepress-toc {
  width: 220px;
  position: fixed;
  top: var(--navbar-height);
  left: calc(50% + ($ContentWidth / 2) + 2.5rem);
  bottom: 0;
  font-size: 14px;
  overflow: hidden;
  .toc-wrap {
    transition: transform 0.25s;
    padding-top: 1.5rem;
  }
  .toc-link {
    @include text-ellipsis;
    font-weight: normal;
    color: inherit;
    border-radius: 4px;
    padding: 2px 10px 3px;
    display: inline-block;
    width: 100%;
    line-height: 1.55;
    box-sizing: border-box;
    transition: background-color 0.25s, color 0.25s;
  }
  .toc-h3 a {
    padding-left: 1.6rem;
  }
  .toc-item {
    &:hover .toc-link {
      background-color: var(--toc-link-active-bg-color);
    }
    &.active .toc-link {
      background-color: var(--toc-link-active-bg-color);
      color: var(--c-text-accent);
    }
  }
}

.page-meta {
  @extend %wrapper;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;

  .meta-item {
    cursor: default;
    margin-top: 0.8rem;

    .meta-item-label {
      font-weight: 500;
      color: var(--c-text-lighter);
    }

    .meta-item-info {
      font-weight: 400;
      color: var(--c-text-quote);
    }
  }

  .edit-link {
    display: inline-block;
    margin-right: 0.25rem;
  }

  .last-updated {
    float: right;
  }
}

.article-header {
  padding: 1.5rem 0;
  & > .title {
    margin: 1em 0 0;
    font-size: 2em;
    padding-bottom: 0;
    border: none;
  }
  & > .meta {
    padding-top: 1em;
    color: #909090;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .author {
    color: var(--c-text);
  }
}

.page-nav {
  .inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .prev {
    width: 50%;
    margin-right: auto;
  }
  .next {
    width: 50%;
    justify-content: flex-end;
    margin-left: auto;
  }
  .prev, .next {
    display: inline-flex;
    align-items: center;
  }
  .prev-icon {
    margin-right: 5px;
  }
  .next-icon {
    margin-left: 5px;
  }
  .prev-icon, .next-icon {
    width: 1em;
    height: 1em;
  }
  .inner .nav-link {
    @include text-ellipsis;
    max-width: calc(100% - 21px);
    line-height: 1.2;
  }
  @media (max-width: $MQMobile) {
    .prev {
      width: 100%;
      margin-bottom: 10px;
    }
    .next {
      width: 100%;
    }
  }
}

@media (max-width: $MQMobile) {
  .page-meta {
    .last-updated {
      font-size: 0.8em;
      float: none;
    }

    .contributors {
      font-size: 0.8em;
    }
  }
}

.page-nav {
  @extend %wrapper;
  padding-top: 1rem;
  padding-bottom: 0;

  .inner {
    min-height: 2rem;
    margin-top: 0;
    border-top: 1px solid var(--c-border);
    transition: border-color var(--t-color);
    padding-top: 1rem;
    // overflow: auto;
  }

  // .next {
  //   float: right;
  // }
}
