@import '_variables';
@import '_wrapper';
@import '_mixins';

.page {
  padding-bottom: 2rem;
  display: block;
}

.page-meta {
  @extend %wrapper;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;

  .meta-item {
    cursor: default;
    margin-top: 0.8rem;

    .meta-item-label {
      font-weight: 500;
      color: var(--c-text-lighter);
    }

    .meta-item-info {
      font-weight: 400;
      color: var(--c-text-quote);
    }
  }

  .edit-link {
    display: inline-block;
    margin-right: 0.25rem;
  }

  .last-updated {
    float: right;
  }
}

.article-header {
  padding: 1rem 0;
  & > .title {
    margin: 1em 0 0;
    font-size: 2em;
    padding-bottom: 0;
    border: none;
  }
  & > .meta {
    padding-top: 1em;
    color: #909090;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .author {
    color: var(--c-text);
  }
}

.page-nav {
  .inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .prev {
    width: 50%;
    margin-right: auto;
  }
  .next {
    width: 50%;
    justify-content: flex-end;
    margin-left: auto;
  }
  .prev, .next {
    display: inline-flex;
    align-items: center;
  }
  .prev-icon {
    margin-right: 5px;
  }
  .next-icon {
    margin-left: 5px;
  }
  .prev-icon, .next-icon {
    width: 1em;
    height: 1em;
  }
  .inner .nav-link {
    @include text-ellipsis;
    max-width: calc(100% - 21px);
    line-height: 1;
  }
  @media (max-width: $MQMobile) {
    .prev {
      width: 100%;
      margin-bottom: 10px;
    }
    .next {
      width: 100%;
    }
  }
}

@media (max-width: $MQMobile) {
  .page-meta {
    .last-updated {
      font-size: 0.8em;
      float: none;
    }

    .contributors {
      font-size: 0.8em;
    }
  }
}

.page-nav {
  @extend %wrapper;
  padding-top: 1rem;
  padding-bottom: 0;

  .inner {
    min-height: 2rem;
    margin-top: 0;
    border-top: 1px solid var(--c-border);
    transition: border-color var(--t-color);
    padding-top: 1rem;
    // overflow: auto;
  }

  // .next {
  //   float: right;
  // }
}
