@import '_variables';
@import '_wrapper';
@import 'mixins';

.page {
  padding-bottom: 2rem;
  display: block;
}

.page-meta {
  @extend %wrapper;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;

  .meta-item {
    cursor: default;
    margin-top: 0.8rem;

    .meta-item-label {
      font-weight: 500;
      color: var(--c-text-lighter);
    }

    .meta-item-info {
      font-weight: 400;
      color: var(--c-text-quote);
    }
  }

  .edit-link {
    display: inline-block;
    margin-right: 0.25rem;
  }

  .last-updated {
    float: right;
  }
}

.page-header {
  @extend %wrapper;
  .page-title {
    margin: 1em 0 0;
    font-size: 2em;
    padding-bottom: 0;
    border: none;
    // @include text-ellipsis;
  }
  .meta {
    padding-top: 1em;
    color: #909090;
    font-size: 14px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  .author {
    color: var(--c-text);
  }
}

.page-nav {
  .prev, .next {
    display: inline-flex;
    align-items: center;
  }
  .prev-icon, .next-icon {
    width: 0.9em;
    height: 0.9em;
  }
  .inner .nav-link {
    line-height: 1;
  }
}

@media (max-width: $MQMobile) {
  .page-meta {
    .last-updated {
      font-size: 0.8em;
      float: none;
    }

    .contributors {
      font-size: 0.8em;
    }
  }
}

.page-nav {
  @extend %wrapper;
  padding-top: 1rem;
  padding-bottom: 0;

  .inner {
    min-height: 2rem;
    margin-top: 0;
    border-top: 1px solid var(--c-border);
    transition: border-color var(--t-color);
    padding-top: 1rem;
    overflow: auto;
  }

  .next {
    float: right;
  }
}
